{
    "port": 8081,
    "secret": "thisIsASecret",
    "override": false,
    "seed": false,
    "mysql": {
        "host": "localhost",
        "username": "root",
        "password": "",
        "port": "3306",
        "database": "buckutt_dev",
        "debug": true
    },
    "log": {
        "level": "debug"
    },
    "jwt": {
        "secret": "thisIsASecret"
    },
    "pin_login_rights": ["seller","reloader","point_admin"]
}
